/* line 4, C:/Users/Levi/Documents/Web Development/Projects/BikemgRails/Bikemg/app/assets/stylesheets/parts.css.sass */
#accordion {
  width: 66%;
  height: 80%;
}

/* line 7, C:/Users/Levi/Documents/Web Development/Projects/BikemgRails/Bikemg/app/assets/stylesheets/parts.css.sass */
.left, input {
  float: left;
}

/* line 9, C:/Users/Levi/Documents/Web Development/Projects/BikemgRails/Bikemg/app/assets/stylesheets/parts.css.sass */
.left {
  padding-left: 0.3%;
}

/* line 11, C:/Users/Levi/Documents/Web Development/Projects/BikemgRails/Bikemg/app/assets/stylesheets/parts.css.sass */
.right {
  float: right;
}

/* line 13, C:/Users/Levi/Documents/Web Development/Projects/BikemgRails/Bikemg/app/assets/stylesheets/parts.css.sass */
.right, .left, .middle {
  width: 33%;
}

/* line 15, C:/Users/Levi/Documents/Web Development/Projects/BikemgRails/Bikemg/app/assets/stylesheets/parts.css.sass */
input {
  vertical-align: center;
  display: inline-block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

